* {

}


#form {
    padding-top: 3%;
    background-color: lightgrey;
}


label {
    /* padding-top: 10%; */
}

.active {
   font-weight: bold;
    padding: 0.5%;
}

.outOfStock {
    background-color: black;
    color: white;
}

.hide {
    display:none;
}